*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Georgia',serif;
}

body{
  background:#f5f7fa;
  color:#8b90b2;
}

/* HERO */
.hero{
  position:relative;
  height:65vh;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.hero-img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  top:0;
  left:0;
}

/* CIRCLE */
.gate{
  z-index:2;

  width:80vw;
  max-width:300px;
  height:80vw;
  max-height:300px;

  border-radius:50%;
  background:#fff;
  text-align:center;
  padding:30px;
  box-shadow:0 20px 40px rgba(0,0,0,.15);

  transform:translateY(50%);
  animation:float 3s ease-in-out infinite;
}

@keyframes float{
  0%,100%{transform:translateY(50%);}
  50%{transform:translateY(45%);}
}

/* TEXT */
.event{
  font-size:14px;
  letter-spacing:2px;
}

.names{
  font-size:42px;
  margin:15px 0;
}

.date{
  font-size:14px;
}

.open{
  display:block;
  margin-top:20px;
  font-size:13px;
  letter-spacing:3px;
}

/* CONTENT */
.hidden{
  display:none;
}

.section{
  padding:30px 20px;
  text-align:center;
}

/* NAV */
.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  background:#dce6ef;
  display:flex;
  justify-content:space-around;
  padding:14px 0;
}

/* MOBILE */
@media (max-width:720px){

  .hero{
    height:55vh;
  }

  .gate{
    width:85vw;
    height:85vw;
    padding:20px;
  }

  .names{
    font-size:32px;
  }

}
